@{
    ViewData["Title"] = "Contact";
}


<div class="panel">
    <h3 class="text-center">Contact..</h3>
    <address>
        <strong>Email:</strong> <a href="mailto:alex.hamus@gmail.com">alex.hamus@gmail.com</a><br />
        <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/alex-hamus-1700a872">My Linkedin</a>
    </address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
</div>

