@model Watsteland.Models.CommunityUpdateComment


@{
    ViewData["Title"] = "Create Comment";
}


<div class="nk-info-box bg-danger">
        <h3>Create Comment</h3>
        <div>
            <form asp-action="CreateCommunityUpdateComment">
                <input type="hidden" asp-for="CommunityUpdateId" />
                <div class="form-group">
                    <label asp-for="CommentTitle" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="CommentTitle" class="form-control" />
                        <span asp-validation-for="CommentTitle" class="text-danger"></span>
                    </div>
                </div>
                <hr />
                <br />
                <div class="form-group">
                    <label asp-for="CommentDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="CommentDescription"></textarea>
                        <span asp-validation-for="CommentDescription" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <br />
                        <input type="submit" value="Create Comment" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>tinymce.init({ selector:'textarea' });</script>
}
