

@{
    ViewData["Title"] = "Streams";
}

<div class="nk-info-box bg-danger">
    <a class="embedly-card" href="https://www.twitch.tv/gaminaustin">gaminaustin - Twitch</a>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>

<div class="nk-info-box bg-danger">
    <a class="embedly-card" href="https://www.twitch.tv/ilikpizza">ilikpizza - Twitch</a>
    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>